div.main-container {
    width: 65%;
    min-width: 905px;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
}

/*Messages*/
div.message-container {
    grid-column-end: span 8;
}

div.message {
    padding: 0px 20px 0px 20px;
    margin-bottom: 15px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #dbdbdb;
    border-radius: 8px;
}

div.message div.title {
    border-bottom: 1px solid #dbdbdb;
    display: flex; 
    flex-direction: row;
    align-items: center;
}
   
div.message div.title img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 8px;
}

div.message div.title p {
    font-weight: 700;
    font-size: 15px;
}

div.message p.text {
    font-size: 12px;
    line-height: 20px;
    word-wrap: break-word;
}

/*side*/

div.side-container {
    grid-column-start: 10;
    grid-column-end: 15;
    overflow-y: visible;
}

div.timetable-container {
    overflow-y: visible;
    margin-bottom: 40px;
}

div.timetable-container p.timetable-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
}

div.timetable-container p.timetable-item {
    font-size: 15px;
    line-height: 13px;
}

div.meal-container {
    overflow-y: visible;
}

div.meal-container p.meal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 15px;
}

div.meal-container p.meal-item {
    font-size: 15px;
    line-height: 13px;
}

@media (max-width: 1000px) {
    div.main-container {
        width: 55%;
        min-width: 470px;
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
    }
    div.message-container {
        grid-column-start: 1;
        grid-column-end: 13;
    }
    div.side-container {
        display: none;
    }
}

@media (max-width: 600px) {
    div.main-container {
        width: 90%;
        min-width: 90%;
    }
}