@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0px;
    height: 100%;
}

body {
    background: #F0F3F7;
    font-family: 'Cafe24Ssurround';
}

div#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
    padding-bottom: 100px;
}

div.message {
    position: relative;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 25px;
    background: #F0F3F7;
    box-shadow:  35px 35px 70px #CCCFD2,
                -35px -35px 70px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: fit-content;
}

div.message div.text p {
    word-wrap: break-word;
}

div.message div.text p.title {
    font-size: 20px;
    color: #00255B;
}

div.message div.text p.text {
    font-size: 18px;
}

div.message div.pic img {
    position: absolute;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    bottom: 25px;
    right: 25px;
}