div#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.sign-in{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 23px;
    color: #00255B;
    padding: 20px;
    border-radius: 15px;
    border: none;
    font-family: 'Cafe24Ssurround';
    background-color: #ffffff;
    box-shadow: 15px 15px 30px #d9d9d9,
                -15px -15px 30px #ffffff;
}

a.write{
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 23px;
    color: #00255B;
    padding: 20px;
    border-radius: 15px;
    border: none;
    font-family: 'Cafe24Ssurround';
    background-color: #ffffff;
    box-shadow: 15px 15px 30px #d9d9d9,
                -15px -15px 30px #ffffff;
    text-decoration: none;
}

main {
    position: relative;
    top: 100px;
    width: 80%;
    max-width: 800px;
    padding-bottom: 100px;
}

div.wrap{
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
}

div.message {
    min-width: 40%;
    max-width: 800px;
    min-height: fit-content;
    max-height: 100%;
    position: relative;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 25px;
    background: #ffffff;
    box-shadow:  35px 35px 70px #d9d9d9,
                -35px -35px 70px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: left;
}

div.message div.text p {
    word-wrap: break-word;
}

div.message div.text p.title {
    font-size: 20px;
    color: #00255B;
}

div.message div.text p.text {
    font-size: 18px;
}

div.message div.pic img {
    position: absolute;
    border-radius: 15px;
    width: 30px;
    height: 30px;
    bottom: 25px;
    right: 25px;
}