@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0px;
    height: 100%;
}

body {
    background: #ffffff;
    font-family: 'Cafe24Ssurround';
}

header {
    z-index: 99999;
    position: fixed;
    top: 0;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2.5px;
}

header p {
    color: #00255B;
    font-size: 25px;
}

header p a{
    text-decoration: none;
    color: inherit;
}