@font-face {
    font-family: 'Cafe24Ssurround';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

div.App {
    width: 100%;
    height: calc(100% - 125px);
    overflow: show;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    margin-top: 89.5px;
}

table.meal th, table.meal td {
    padding: 0 25px;
}

table.meal thead th {
    padding: 25px;
}

table.meal th td:first-child {
    width: 40px;
}

table.meal tr td:first-child {
    width: 40px;
    text-align: center;
}

table.meal pre {
    font-family: 'Cafe24Ssurround';
    line-height: 25px;
}