@font-face {
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0px;
    height: 100%;
}

body {
    background: #F0F3F7;
    font-family: 'twayair';
}

div#root {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 500px;
}

div.message {
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
    background: #F0F3F7;
    box-shadow:  35px 35px 70px #CCCFD2,
                -35px -35px 70px #ffffff;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: fit-content;
}

div.message div.pic img {
    width: 25px;
    height: 25px;
}

form {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 500px;
}

form div.inputs input {
    border: none;
    font-family: 'twayair';
    border-radius: 25px;
    background: #F0F3F7;
    box-shadow: inset 5px 5px 10px #cccccc,
                inset -5px -5px 10px #ffffff;
    height: 50px;
    padding: 10px;
}

form button {
    font-family: 'twayair';
    width: 80px;
}